<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net45" />
  <package id="DatabaseConnections" version="1.1.0" targetFramework="net45" />
  <package id="DatabaseConnections.OleDb" version="1.0.1" targetFramework="net45" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="ExtentReports" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.15.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="WebDriverIEDriver" version="2.45.0.0" targetFramework="net45" />
</packages>